
.contactUsSection{
    background: url("../Assets/Images/ContactUs/ContactUsSection.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.MapSection{
    background: url("../Assets/Images/ContactUs/Map.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}